.editBoard {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.editBoard__viewIcon {
  background-color: transparent;
  display: flex;
  justify-content: center;
  height: fit-content;
  align-items: center;
  margin-top: 2em;
  flex-direction: column;
  /* padding-bottom: 2em; */
  margin-bottom: 2em;
  width: 100%;
  border-bottom: dotted black;
  font-weight: bolder;
}

.editBoard__viewIcon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: black; */
}

.icon {
  font-size: 50px;
}
.name {
  font-size: 40px;
}

.editBoard__form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  align-items: center;
  text-align: left;
  justify-content: center;
  margin-bottom: 5em;
  height: 100%;
}

.editBoard__icon > input {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.editBoard__form input,
select .editBoard__submit {
  display: flex;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 20px;
  background-color: transparent;
  width: 15em;
  border: none;
  border-radius: 5px;
  height: 2em;
}

.editBoard__custom__select > select {
  width: 15em;
  border-radius: 5px;
  font-weight: bolder;
  justify-content: center;
  height: 2em;
  background-color: transparent;
  text-align: center;
}

.editIcon__emoji,  .editBoard__icon{
  font-size: 20px;
  display: flex;
  font-weight: bolder;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 20px;
  background-color: transparent;
  width: 15em;
  border: none;
  border-radius: 5px;
  height: 2em;
}
.editBoard__submit {
  width: 15em;
  border-radius: 5px;
  font-weight: bolder;
  justify-content: center;
  height: 2em;
  background-color: transparent;
  text-align: center;
}

.editBoard__emoji__dropdown {
  /* width: 600px; */
  display: grid;
  position: absolute;
  /* grid-gap: 10px; */;
  grid-template-columns: repeat(2, 20);
  grid-template-rows: 30px 30px 30px;
  width: 20em;
  /* height: fit-content; */
  grid-auto-flow: row;
  grid-auto-flow: column;
  overflow-y: scroll;
}

.editBoard__emoji__dropdown::-webkit-scrollbar {
  display: none;
}

.editBoard__emoji {
  background-color: lightgrey;
  border: white solid 0.5px;
  display: flex;
  flex-direction: row;
  /* border-radius: 5px; */
  /* font-size: 20px; */
  /* padding: 20px; */
  /* overflow-y: scroll; */
  /* font-size: 150%; */
}
