.taskList {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskList__contents {
  /* background-color: pink; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  width: 80%;
}
.taskList__contents::-webkit-scrollbar {
  display: none;
}

.taskList__header__container {
  display: flex;

}

.taskList__description {
  color: rgb(116, 114, 111);
  font-size: 15px;
}

.taskList__headers {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 1em; */
  row-gap: 1em;
  width: 100%;
}

.taskList__descs {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  width: 100%;
  padding-bottom: 3em;
}

.taskList__descs > h3 {
  color: rgb(152, 151, 149);
  font-size: small;
}

.taskList__icon {
  font-size: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskList__title {
  width: 5em;
  display: flex;
}

.taskList__icon > h1 {
  font-size: 32px;
}

.taskList__container {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

.taskList__column {
  flex-basis: 20%;
  background: #ddd;
  width: 0em;
  flex-direction: row;
  min-height: 50vh;
  /* padding: 10px; */
  border-radius: 10px;
}
.taskList__options {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
  column-gap: 0.5em;
}

.taskList__column h1 {
  text-align: center;
  font-size: 22px;
  padding-top: 0.5em;
}
.taskList__item {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 3px;
  cursor: pointer;
}
.invisible {
  display: none;
}

.taskList__container {
  border-top: solid 2px rgb(228, 226, 225);
  /* border-bottom: solid 2px black; */
  padding-top: 20px;
}

.taskList__container > div:first-child {
  background-color: rgb(255, 226, 221);
}

.taskList__container > div:nth-child(2) {
  background-color: rgb(253, 236, 200);
}

.taskList__container > div:nth-child(3) {
  background-color: rgb(219, 237, 219);
}

.taskList__editAndDelete {
  display: flex;
  column-gap: 0.5em;
}

.taskList__edit,
.taskList__delete {
  font-weight: bold;
  width: 5em;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.taskList__boardInfo {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  flex-direction: column;
}
