.quickNote {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quickNote__contents {
  /* background-color: pink; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  width: 50%;
}
.quickNote__contents::-webkit-scrollbar {
    display: none;
}

.quickNote__headers {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.quickNote__descs {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  padding-bottom: 3em;
}

.quickNote__descs > h3 {
  color: rgb(152, 151, 149);
  font-size: small;
}

.quickNote__icon {
  font-size: 80px;
}

.quickNote__notes {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 100%;
}

.quickNote__notes > h2 {
  border-bottom: solid 2px rgb(228, 226, 225);
  padding-bottom: 20px;
}

.quickNote__notes > p {
  padding-bottom: 3em;
}

.quickNote__list {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 100%;
}

.quickNote__list > h2 {
  border-bottom: solid 2px rgb(228, 226, 225);
  padding-bottom: 20px;
}
