.journal {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal__header__container {
  display: flex;
}
.journal__contents {
  /* background-color: pink; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  width: 50%;
}
.journal__contents::-webkit-scrollbar {
  display: none;
}

.journal__headers {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  border-bottom: solid 2px rgb(228, 226, 225);
  padding-bottom: 1em;
  width: 100%;
}

.journal__descs {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.journal__descs > h3 {
  color: rgb(152, 151, 149);
  font-size: small;
}

.journal__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 80px;
}

.journal__icon > h1 {
  font-size: 32px;
}

.journal__options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex-direction: row;
  column-gap: 0.5em;
}

.journal__boardInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.journal__notes {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

/* .journal__notes > h2 {
    border-bottom: solid 2px rgb(228, 226, 225);
    padding-bottom: 20px;
  } */

.journal__notes > p {
  padding-bottom: 3em;
}

.journal__list {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 100%;
}

.journal__list > h2 {
  border-bottom: solid 2px rgb(228, 226, 225);
  padding-bottom: 20px;
}

.journal__editAndDelete {
  display: flex;
  column-gap: 0.5em;
}

.journal__edit,
.journal__delete {
  font-weight: bold;
  width: 5em;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.journal__description {
  display: block;
  font-size: 16px;
  text-size-adjust: 100%;
  width: 80%;
  word-wrap: break-word;
  text-align: left;
}

.journal__descriptionContainer {
  display: flex;
  background-color: rgb(241, 241, 239);
  justify-content: center;
  align-items: center;
  text-align: left;
  /* max-width: 100%; */
  width: 100%;
  padding: 20px 10px;
}

.journal__newEntry {
  margin-top: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  column-gap: 1em;
  flex-direction: column;
}

.journal__newEntry:hover {
  background-color: rgb(241, 241, 239);
  cursor: pointer;
}

.journal__dailyReflection {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1em;
}

.journal__thinks {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
  width: 100%;
}

.journal__thoughts {
  /* display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  width: 100%; */
}

.journal__thinks:hover {
  background-color: rgb(241, 241, 239);
}

.journal__newThought {
  color: rgb(207, 207, 206);
  cursor: pointer;
}

.journal__newThought:hover  {
  background-color: rgb(241, 241, 239);
  display: block;
}

.journal__thinks {
  display: flex;
  justify-content: space-between;
}

.journal__trash {
  display: none;
}


.journal__thinks:hover .journal__trash {
  display: block;
  cursor: pointer;
}
