.addBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;;
}


.addBoard__form {
    /* border: black solid; */
    display: flex;
    justify-content: center;
    width: 25em;
    flex-direction: column;
    height: 25em;
}

.addBoard__boardName {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.addBoard__boardName > input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 50px;
}

.addBoard__descriptiom > input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;
}

.addBoard__boardName > input::placeholder, .addBoard__descriptiom > input::placeholder{
    color: rgb(225, 225, 224);;
}

.boardSection__add {
    display: flex;
}
