.home {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.home__leftBar {
  flex: 0.18;
  position: relative;
  background-color: rgb(251, 251, 250);
}

.home__rightBar {
  position: relative;
  flex-grow: 1;
}
