#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(10px);
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  /* background-color: rgba(255, 255, 255, 0.584); */
  background-color: white;
  /* border-radius: 30px; */
  margin-top: 5%;
  overflow-y: scroll;
  height: 40em;
  width: 50em;

}

#modal-content::-webkit-scrollbar {
  display: none;
}
