.quickList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxboxContainer {
  display: flex;
  column-gap: 0.5em;
  align-items: center;
  flex-direction: column;
}

.quickList__checkBox {
  display: flex;
  justify-content: space-between;
  height: 2em;
  align-items: center;
  width: 100%;
  /* background-color: lightgreen; */
}

.quickList__checkBox:hover .quickList__editAndDelete {
  display: block;
}

.quickList__checkBox:hover {
  background-color: rgb(247, 246, 243);
}


.quickList__editAndDelete {
    display: none;
}
.quickList__options {
  display: flex;
  column-gap: 1em;
}

.quickList__checkbox__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: lightblue; */
}

.quickList__edit, .quickList__delete {
    cursor: pointer;
}

.quickList__editable__content:focus {
  border: none;
  outline: none;
}

.quickList__editable__content {
  display: flex;
  /* background-color: black; */
}
