.default__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.default__header {
  display: flex;
  align-items: flex-start;
  padding-top: 18em;
  flex-direction: column;
  row-gap: 2em;
  justify-content: flex-start;
  height: 100%;
  width: 50%;
}

.default__title {
  font-size: 40px;
  margin-top: 5px;
  border: none;
  outline: none;
}

.default__title::placeholder {
  color: rgb(225, 224, 224);
}

.default__icon {
  column-gap: 5px;
  display: flex;
  position: absolute;
  display: none;
}

.default__top:hover .default__icon {
  display: flex;
}

.default__addIcon,
.default__addCover,
.default__addComment {
  color: rgb(179, 179, 177);
  text-align: center;
  width: 9em;
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  align-items: center;
  column-gap: 5px;
}

.default__addIcon:hover,
.default__addCover:hover,
.default__addComment:hover {
  background-color: rgb(239, 239, 239);
}

.default__body > h5 {
  color: rgb(156, 154, 152);
}

.default__body {
  width: 100%;
  row-gap: 1em;
}
.default__templates {
  width: 100%;
  margin-top: 1em;
  row-gap: 2em;
  display: flex;
  flex-direction: column;
}

.default__templates div {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  cursor: pointer;
  height: 1.5em;
  width: 100%;
}

.default__templates div:hover {
  background-color: rgb(224, 242, 250);
}

.default__description strong {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(165, 216, 238);
}

.default__description > h5 {
  color: rgb(156, 154, 152);
}
